body{
    background-color: darkolivegreen;
}
img{
    width: 30%;   
    border: 3px solid burlywood;
} 

.sec1{
    text-align: center;
}

.lego{
    text-align: center;


}
button{
    background-color: #30588D;
    border: 10px groove #1f0328;
    padding: 22px 10px 22px 10px;
   
}
b{
    color: #80a7e6;
}
h1{
    color:  #76A854;
    font-family: Segoe script;
}
.major{
    color:#31318a;
}
ul{
    font-family:  Helvetica; 
    font-size: 20px;
    color: #390093;
}
ol{
    font-family: ariel;
    font-size: 25px;
    color: #083746;

}
.books{
    font-family: papyrus;
    color: burlywood;
}
.movies{
    font-family: papyrus;
    color: burlywood;
}
.artists{
    font-family: papyrus;
    color: burlywood;
}
.interest{
    padding-left: 25px;
    text-decoration: underline;
    color: aliceblue;

}
.fav{
    padding-left: 25px;
    text-decoration: underline;
    color: aliceblue;
}
p{
    font-size: 25px;
    font-family: 'Times New Roman';
    color: #76A854;
}
li{
  margin-left:40px;
}